/*imported normalize*/
@import "normalize.css";

a:hover {
  background-color: rgba(135, 87, 141, 0.5);
}

img {
  width: 100%;
  display: block;
}
/*links will always stay white no matter if you visit them */
a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}
/*format for smaller screens */
@media screen and (max-width: 500px) {
  nav {
    background-image: url(../assets/images/cityroad.jpg);
    background-size: 250%;
    background-origin: content;
    background-repeat: repeat;
  }
  .grid {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(21, 119, 238, 0.5);
    grid-gap: 10px;
  }
  .par {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
  }
}
/*format for larger screens */
@media screen and (min-width: 500px) {
  nav {
    background-image: url(../assets/images/cityroad.jpg);
    background-size: 100%;
    background-origin: content;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(21, 119, 238, 0.5);
    grid-gap: 10px;
  }

  .par {
    grid-column: 1/4;
    text-align: center;
    padding: 10px;
  }
}
/*general formatting for both */
.grid-item {
  background-color: rgba(1, 6, 62, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 25px;
  padding: 10px;
  color: rgb(225, 225, 225);
  text-align: center;
}
h1,
h2 {
  text-align: center;
}
